* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body,
html {
  overflow-x: hidden;
}
nav {
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
#checkbox-menu,
.toggle {
  display: none;
}
.menu {
  padding: 0;
  margin: 0;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
.menu li a {
  color: black;
  text-decoration: none;
  align-self: center;
  font-size: 13px;
  padding: 10px 15px;
  transition: background 0.2s linear;
}
.menu li a:hover {
  background: #ffcc01;
  border-radius: 3px;
}
.menu li a.logo {
  font-size: 21px;
  margin-right: 240px;
}
.menu li a.contacts {
  margin-right: 100px;
}
.wrapper {
  /* этот класс постоянно задействуеться*/
  margin: 0 auto;
  max-width: 1100px;
  width: 100%;
}
.intro {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}
.intro-img {
  background-image: url(img/room.jpg);
  width: 965px;
  height: 640px;
}
.intro .intro-text {
  position: absolute;
  font-size: 62px;
  right: 750px;
  top: 220px;
  color: #ffcc01;
}
.intro-contacts {
  background-color: #ffcc01;
  max-width: 590px;
  position: absolute;
  right: 170px;
  top: 638px;
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}
.intro-contacts i {
  color: #fff;
  margin-right: 30px;
}
.intro-contacts p {
  font-style: 18px;
  margin-right: 60px;
}
.stats {
  display: flex;
  margin-top: 130px;
}
.stats-line {
  display: flex;
}
.stats-text {
  padding: 40px;
}
.stats-text h2 {
  font-size: 40px;
  margin-bottom: 70px;
}
.stats-text p {
  margin-top: 50px;
  font-size: 13px;
  line-height: 27px;
}
.square {
  width: 200px;
  height: 200px;
  background-color: #f6f5f4;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.stats-square {
  font-size: 40px;
  color: #ffcc01;
  margin-bottom: 15px;
}
.square-text {
  font-size: 14px;
}
.apartments {
  background: #f6f5f4;
  padding: 60px 0;
}
.apart h2 {
  margin-bottom: 85px;
  font-style: 40px;
}
.card {
  max-width: 348px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.card-container {
  padding: 25px;
}
.card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}
.card-info .money {
  font-style: 18px;
  color: #ffcc01;
}
.card-info i {
  margin-right: 8px;
}
.card-info span:first-child {
  margin-right: 18px;
}
.card:hover {
  background: #fafaf9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 30px;
}

.apart input[type="text"] {
  margin-top: 50px;
  width: 300px;
  height: 70px;
  border: none;
  background-image: url(img/iconfinder_Search_858732.png);
  background-repeat: no-repeat;
  background-position: 27px;
  outline: none;
  padding-left: 62px;
  font-style: 15px;
  color: #919eb1;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.apart input[type="submit"] {
  width: 115px;
  border: none;
  height: 70px;
  background: #ffcc01;
  margin-left: -4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.All {
  width: 250px;
  height: 70px;
  border: none;
  border-radius: 4px;
  margin-left: 40px;
  margin-top: 52px;
  font-size: 15px;
}
.buttons-search {
  display: flex;
}
.steps h2 {
  margin-top: 55px;
  font-style: 40px;
  margin-bottom: 35px;
}
.steps-text {
  line-height: 27px;
  font-style: 13px;
}
.mbtext {
  margin-bottom: 70px;
}
.stepblock {
  width: 340px;
  max-height: 370px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.stepblock .step-num {
  font-size: 200px;
  position: relative;
  top: -120px;
  left: -30px;
}

.stepblock:hover {
  background: #ffcc01;
  color: #fff;
}
.steps-container {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
.stepblock h4 {
  font-size: 14px;
  margin-left: 40px;
  margin-top: -100px;
  margin-bottom: 20px;
}
.stepblock h4 span {
  margin-right: 15px;
}
.stepblock .step-info {
  margin-left: 70px;
  line-height: 29px;
}
.stepblock .stepinfolast {
  display: inline-block;
  margin-left: 70px;
  margin-top: 20px;
  border-bottom: 3px solid #000;
}
.stepblock .stepinfolast:hover {
  border-bottom: 3px solid #fff;
}



.serv-container{
  display:flex;
  margin-top: 70px;
}
.services img{
  width: 100%;
  height: auto;
}
.serv-img-container{
  width: 58%;
}
.serv-text{
  width: 42%;
  margin-left: 3%;
}
.serv-text p{
  margin-bottom: 60px;
}
.services h2{
  font-style: 40px;
  margin-bottom: 20px;
}
.services p{
  font-size: 13px;
  line-height: 30px;
}
.services h4{
  font-size: 25px;
  margin-bottom: 25px;
}


.agents{
  background: #f6f5f4;
  padding-top:60px;
  margin-top:30px;
}
.agents h2{
  font-size: 40px;
  margin-bottom: 20px;
}
.agents p{
  font-size: 13px;
  line-height: 30px;
}
.agents p:nth-child(3){
  margin-bottom: 60px;
}
.agent-block{
  display: flex;
  justify-content:space-between;
}
.social i{
  margin-right:32px;
  position: relative;
  top: 7px;
  color: #000;
}
.social i:hover{
  color:#ffcc01;
}
.social i:last-child{
  margin-right:18px;
}
.agent-card{
  max-width: 344px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.agent-card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}
.agent-info{
padding-top: 10px;
padding-left: 25px;
}
.agent-name{
  color:#ffcc01
}
.agent-cards{
  display:flex;
  justify-content: space-between;
  padding-bottom: 95px;
}

.add{
  padding-bottom: 100px;
  padding-top: 90px;
}
.add-line{
  display: flex;
}
.location{
  font-size: 18px;
  padding: 30px 87px 35px 55px;
  background: #ffcc01;
  display: inline-block;
}
.location i{
  margin-right: 25px;
  font-size: 25px;
  position: relative;
  top: 7px;
  color:#fff
}
.location-melbourn{
position: relative;
left: 100px;
bottom: 50px;
}
.location-australia{
  position: relative;
  left: 260px;
  bottom: 50px;
}
.add-line h3{
  font-size: 25px;
  margin-left: 130px;
  margin-bottom: 40px;
  margin-top: 75px;
}
.add-line p{
  font-size: 13px;
  line-height: 30px;
  margin-left: 130px;

}
.add-line-right p{
margin-right: 130px;
margin-left: 0;
}
/* .add-line h3:last-of-type{   Свойство last-of-type  не работает */
  /* margin-top: 25px; */
/* } */
.show-more{
  font-size: 18px;
  background: #1f373d;
  padding: 30px 70px 30px 55px;
  display: inline-block;
  margin-left: 130px;
  color: #fff;
  margin-top: 60px;
}
footer{
  background: #1f373d;
  color:#fff;
  padding-top: 50px;
  padding-bottom: 80px;
}
.footer-block{
  display:flex;
  justify-content: space-between;
}
.footer-block h3{
  font-size: 40px;
}
.footer-search input[type=text]{
width: 442px;
height: 70px;
color:#919eb1;
padding-left: 27px;
font-size: 15px;
background-image: url(img/arrov.jpg);
background-repeat: no-repeat;
background-position: 94%;
}
hr{
  opacity: 0.3;
  margin-top: 47px;
  margin-bottom: 70px;
}
.footer-links{
  display:flex;
  justify-content: space-between;
  padding-right: 90px;
}
.footer-link{
  display:flex;
  flex-direction:column;
}
.footer-links-logo{
  font-size: 25px;
  margin-right: 26%;
}
.footer-link p{
  text-transform: uppercase;
  font-size: 13px;
  color:#919eb1;
  margin-bottom: 35px;
}
.footer-link a{
  color:#fff;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 20px;
}
.footer-link a:hover{
  opacity: 0.4;
}

@media screen and (max-width: 1100px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    width: 100%;
    color: black;
    background: #ffcc01;
    transition: all 0.1s linear;
  }

  .toggle:hover {
    background: #d3a900;
  }
  #checkbox-menu:checked + label .touch li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }
  #checkbox-menu:checked + label .touch {
    height: 350px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0;
    transition: height 0.3s linear;
  }
  .menu li {
    display: flex;
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 95%;
    text-align: center;
    align-self: center;
    align-content: center;
  }
  .menu li a.logo {
    font-size: 21px;
    margin-right: 0px;
  }
  .menu li a.contacts {
    margin-right: 0px;
  }
  .intro {
    margin-top: 0;
    display: block;
    max-width: 100%;
  }
  .intro-img {
    background-position: bottom 0px right 1000px;
  }
  .intro .intro-text {
    position: relative;
    font-size: 35px;
    right: -10px;
    top: 95px;
    color: #ffcc01;
  }
  .intro .intro-contacts {
    right: 0;
    top: -60px;
    padding: 20px 10px;
    position: relative;
  }
  .intro-contacts i {
    margin-right: 10px;
  }
  .intro-contacts p {
    font-size: 13px;
    margin-right: 0;
  }
  .stats {
    margin-top: 0px;
    flex-direction: column;
  }
  .stats-text {
    padding: 10px;
  }
  .stats-text h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .stats-text p {
    margin-top: 5px;
    font-size: 13px;
    line-height: 18px;
  }
  .square {
    height: 140px;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
    justify-items: center;
  }
  .apart input[type="text"] {
    margin-top: 20px;
    width: 130px;
  }
  .buttons-search {
    flex-direction: column;
    margin-left: 4%;
  }
  .All {
    background: #fff;
    margin-top: 10px;
    margin-left: 0;
  }
  .steps-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .stepblock {
    margin-top: 20px;
  }
  .steps-text .steps h2 {
    margin-left: 5%;
    margin-bottom: 15px;
  }
  .serv-container{
    margin-top: 20px;
    flex-direction: column;
  }
  .serv-img-container{
    width: 100%;
  }
  .serv-text{
    width: 100%;
  }
  .agent-cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .agent-card{
    margin-top: 10px;
  }
  .add-line{
    flex-direction: column;
  }
  .location{
    font-size: 15px;
    padding: 15px 10px 18px 11px;
  }
.location-melbourn{
  left: 100px;
  bottom: 50px;
}
.location-australia{
  left: 60px;
  bottom: 50px;
}
.add-line h3{
  font-size: 25px;
  margin-top: 75px;
  margin-bottom: 40px;
  margin-left: 5%;
}
.add-line p{
  margin-left: 5%;
}
.add-line-right p{
  margin-left: 5%;
  margin-right: 0;
}
.show-more{
  font-size: 15px;
  padding: 20px 50px 20px 35px;
  margin-left: 15%;
  margin-top: 20px;
}
.footer-block{
  flex-direction: column;
}
.footer-logo h3{
text-align: center;
font-size: 25px;
}
.footer-search input[type=text]{
width: 80%;
height: 50px;
margin-top: 15px;
}
.footer-search{
  display: flex;
  justify-content: center;
}

.footer-links{
  flex-wrap: wrap;
  margin-left: 5%;
  padding-right: 15%;
  
}
}
